*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
   
}
#home{
    background: white;
}
.main{
    color: #1F1717;
    
}
.coursel{
    margin: auto;
    width: 105%;
    
    padding: 30px;
}
.card{
    position: sticky;
    top:0;
    padding-top: 20px;
    
}
.navbar{
    position: sticky;
}
.hel{
  border: 5px solid wheat;
}

.canara{
    display: flex;
    justify-content: center;
    gap: 40px;
    background:rgb(247, 239, 229);
}
#search{
    border: solid wheat;
}
#type{
    border: solid wheat;
}
h1{
    padding-top: 30px;
    
    color: #1F1717;
}
p{
    margin-top: 20px;
}
nav{
    background-color:wheat;
    box-shadow: 1px 1px 2px #4444;
    position: sticky;
    top: 0;

    
}
.txt{
    color: wheat;
}
/*bg color*/



/*bg color*/




.about{
    display: flex;
    justify-content: center;
}
nav .navbar-brand{
    color:var(--bs-orange)!important;
}
.nav-link{
    color: black;
}
.navbar-toggler{
    outline: none!important;
    padding: none!important;
    border-color: black;
    color: wheat;
}
.btnn{
    background: white;
    color: black;
}
.btnn:hover {
    background: wheat;
    color: black;
  }
  


/*** service start ***/
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    border: solid;
    border-color: wheat;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: wheat;
   
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-item .service-content-icon i,
.service-item .service-content-icon p {
    transition: 1s;
}

.service-item:hover .service-content-icon i {
    color: var(--bs-dark) !important;
}

.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}

.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white);
    color: var(--bs-dark);
}
.rounded-pill{
    background: wheat;
}

.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}
/*** Services End ***/


/*** Events Start ***/
.event .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}

.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: wheat;
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.fa-solid{
    size: 100px;
}
.event .event-img:hover .event-overlay {
    opacity: 1;
}
/*** Events End ***/

/*** testimonial Start ***/
.testimonial-item {
    border: 3px solid wheat;
    padding: 20px 20px;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel.owl-rtl .testimonial-item {
    direction: ltr !important;
}
#facility{
    padding-top: 20px;
}
/*** testimonial End ***/


/*** Team Start ***/
.team-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.brd{
    border: solid 5px;
    border-color: wheat;
    
}

.team-item .team-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.team-item .team-icon .share-link {
    opacity: 0;
    transition: 0.9s;
}

.team-item:hover .share-link {
    opacity: 1;
}

.team-item .team-content {
    transition: 0.9s;
}

.team-item:hover .team-content {
    background: wheat !important;
    color: var(--bs-dark) !important;
}

.team-item .team-content h4,
.team-item .team-content p {
    transition: 0.5s;
}

.team-item:hover .team-content h4 {
    color: var(--bs-dark) !important;
}

.team-item:hover .team-content p {
    color: var(--bs-white);
}
#w:hover{
    color: wheat;
    
}
#h:hover{
    color: wheat;
    
}
#e:hover{
    color: wheat;
    
}
#u:hover{
    color: wheat;
    
}
#a:hover{
    color: wheat;
    
}
#t:hover{
    color: wheat;
    
}
/*** Team End ***/

/****stats start***/
.wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap:20px;

}
.stat{
    text-align: center;
}
.container1 {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: white;
    border:  2px solid wheat;
    border-bottom: 10px solid wheat;
  }
  #opinion{
      padding-top: 20px;
  }
  #stat1{
      padding-top: 20px;
  }
  #desk{
      padding-top: 20px;
  }

  i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color:black;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: black;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;

    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container1 {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container1 {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container1 {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }
  /****stats end****/
  .text-mut{
      padding-top: 20px;
      background-color: wheat;
      color: black;
  }
  footer{
     
  }
